<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Kalkulator
      </h1>
      <h2 class="subtitle">
        Årlig risiko for slag ved atrieflimmer
      </h2>
    </div>
  </div>
</section>
<section class="chads">
  <div class="columns">
    <div class="column is-half is-narrow-desktop">
      <label for="toggle-1">
        <input (click)="count({op: 'single', val: $event.target.checked})" type="checkbox" id="toggle-1">
        <div class="noe">Congestive heart failure</div>
      </label>
      <label for="toggle-2">
        <input (click)="count({op: 'single', val: $event.target.checked})" type="checkbox" id="toggle-2">
        <div class="noe">Hypertension</div>
      </label>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-quarter">
      <label for="toggle-3">
        <input (click)="count({op: 'single', val: $event.target.checked})" type="checkbox" id="toggle-3">
        <div class="noe"> Age ≥ 75</div>
      </label>
    </div>
    <div class="column is-one-quarter">
      <label for="toggle-4">
        <input (click)="count({op: 'single', val: $event.target.checked})" type="checkbox" id="toggle-4">
        <div class="noe">Age 65 - 74</div>
      </label>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half is-narrow-desktop">
      <label for="toggle-5">
        <input (click)="count({op: 'single', val: $event.target.checked})"type="checkbox" id="toggle-5">
        <div class="noe">Diabetes</div>
      </label>
      <label for="toggle-6">
        <input (click)="count({op: 'double', val: $event.target.checked})" type="checkbox" id="toggle-6">
        <div class="noe">Stoke or TIA</div>
      </label>
      <label for="toggle-7">
        <input (click)="count({op: 'single', val: $event.target.checked})" type="checkbox" id="toggle-7">
        <div class="noe">Vascular disease</div>
      </label>
      <label for="toggle-8">
        <input (click)="count({op: 'single', val: $event.target.checked})" type="checkbox" id="toggle-8">
        <div class="noe">Kvinne</div>
      </label>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half has-text-centered">
  <div class="box">
  <h1 class="title">{{counter}}</h1>
  <div class="title">{{risiko}}</div>
  </div>
  </div>
  </div>

</section>
